<!DOCTYPE html>
<html>
<head>
	<title>First Diary</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="app/css/bootstrap.css" rel="stylesheet">
	<link href="app/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="app/css/font-awesome.css" type="text/css" rel="stylesheet"/>
	<link href="app/css/all.css" type="text/css" rel="stylesheet"/>
</head>
<body>
    <div class="container" id="menu-wrapper"></div>
    <div class="container" id="main-wrapper"></div>

    <script type="text/template" id="menu">
    	<div class="navbar navbar-inverse">
		  <div class="navbar-inner">
			<ul class="nav main-menu">
			    <li><a id="list" href="#">Список событий</a></li>
			    <li><a id="add" href="#">Добавить новое событие</a></li>
			    <li><a id="onMap" href="#">Где я был</a></li>
			</ul>
		  </div>
		</div>
    </script>
    <script type="text/template" id="issue">
    	<td class="date"><%= date %></td>
		<td class="title"><%= issueTitle %></td>
		<td class="attitude"><%if (attitude==='positive') {%>Положительное<%}
							   else if (attitude==='neutral') {%>Нейтральное<%}
									else {%>Отрицательное<%}%></td>
		<td style="text-align:  center;">
			<button class="btn btn-info edit" href="#"><i class="fa fa-edit"></i></button>
			<button class="btn btn-danger remove" href="#"><i class="fa fa-remove"></i></button>
		</td>
    </script>
    <script type="text/template" id="empty">
    	<td colspan="5">В Вашем дневнике еще нет записей ни об одном событии!</td>			
    </script>
    <script type="text/template" id="listTemplate">
    	<div class="span12">
		    <div class="row w-title-h">
		        <h1 class="title-h">Список событий</h1>
		    </div>
		   <div class="row t">
		    <table class="table table-hover table-striped">
		        <thead>
		            <tr>
		                <th>Дата</th>
		                <th>Название</th>
		                <th>Отношение</th>
		                <th>
		                	<form class="navbar-search pull-right">
				  				<input type="text" class="search-query" id="search" placeholder="Искать по названию">
							</form>
						</th>
		            </tr>
		        </thead>
		        <tbody></tbody>
		    </table>
		    </div>
		</div>	
    </script>
    <script type="text/template" id="edit">
    	<div class="row">
		    <div class="span12">
		        <div class="row w-title-h">
		            <h1 class="title-h"></h1>
		        </div>
		        <div class="row">
		            <form class="form-horizontal">
		                <div class="control-group">
		                    <label class="control-label" for="issueTitle">Название события</label>
		                    <div class="controls">
		                        <input type="text" name="issueTitle" id="issueTitle" value="<%= issueTitle %>">
		                        <span class="help-inline"></span>
		                    </div>
		                </div>
		                 <div class="control-group">
		                    <label class="control-label" for="issueDescription">Описание</label>
		                    <div class="controls">
		                        <div id='editorPalette'>
									<div class="palette-wrapper">
										<label><input type="checkbox" name="i" value="italic">Курсив</label>
										<label><input type="checkbox" name="b" value="bold">Жирный</label>
										<label><input type="checkbox" name="u" value="underline">Подчеркивание</label>|
									</div>
									<div class='palette-wrapper' id='colwrapper'>
										<label class="palette-label">Цвет текста</label>
										<div id='colpalette' class='hidden'>
											<label><input type='radio' name='color' value="red">Красный</label> 
											<label><input type='radio' name='color' value="yellow">Желтый</label>
											<label><input type='radio' name='color' value="green">Зеленый</label>
											<label><input type='radio' name='color' value="blue">Синий</label>
											<label><input type='radio' name='color' value="brown">Коричневый</label>
											<label><input type='radio' name='color' value="black">Черный</label>
										</div>
										
									|</div>
									<div class="palette-wrapper">
										<label>Размер шрифта<select id='font-size'>
											<option value='1'>10</option>
											<option value='2'>12</option>
											<option value='3' selected>14</option>
											<option value='4'>16</option>
										</select></label>
									</div>
								</div>
		                        <iframe id="description" cols='80' rows='7'><%= issueDescription %></iframe>
		                        <span class="help-inline"></span>
		                        <input name="issueDescription" id="issueDescription" class="hidden"> 
		                    </div>
		                </div>

		                <div class="control-group">
		                    <label class="control-label" for="selectAttitude">Отношение к событию</label>
		                    <div class="controls">
		                        <select id="selectAttitude" size="1"> 
		                            <option value="positive">Положительное</option>
		                            <option value="neutral">Нейтральное</option>
		                            <option value="negative">Отрицательное</option>
		                        </select>
		                    </div>
		                </div>

		                <div class="control-group">
		                    <label class="control-label" for="date">Дата</label>
		                    <div class="controls">
		                        <input type="date" name="date" id="date" value="<%= date %>">
		                        <span class="help-inline"></span>
		                    </div>
		                </div>

		                <div class="control-group">
		                    <label class="control-label" for="videoUrl">Прикрепить YouTube-видео</label>          
		                    <div class="controls">
		                        <input type="url" name="videoUrl" id="videoUrl" placeholder="Введите Url Youtube видео" value="<%= videoUrl %>">
		                        <span class="help-inline"></span>
		                        <div id='vPlayer'></div>
		                        <div id='videoThumbnail'></div>
		                    </div>
		                    
		                </div>

		                <div class="control-group">
		                    <label class="control-label" for="map">Выбрать место на карте (по адресу или кликом по карте)</label>
	                        <div class="controls">
	                            <input id="adress-input" type="text" placeholder="Введите адрес здесь">
	                            <div id='map'></div> 
	                            <input name="coords" id="markerCoords" type="hidden">
	                        </div>
		                </div>

		                <div class="row">
		                    <div class="span4">
		                        <div class="control-group">
		                            <div class="controls">
		                                <button type="submit" class="btn btn-info btn-block" href="#"><i class="fa fa-save" ></i>Сохранить событие</button> 
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </form>
		        </div>
		    </div>
		 </div>	
    </script>
    <script type="text/template" id="show">
    	<div class="row">
		    <div class="span12">
		        <div class="row w-title-h">
		            <h1 class="title-h"></h1>
		        </div>
		        <div class="row">
		            <div class="container">
		                <div id='issueDate'><%= date %></div>
		            </div>
		            <div class="container">
		                <div id='issueDescription'><%= issueDescription %></div>
		            </div>
		            <div class="container">
		                <div id='issueVideo'></div>
		            </div>
		            <div class="container">
		                <div id='issuePlace'></div>
		            </div>

		        </div>
		    </div>
		 </div> 
    </script>
    <script type="text/template" id="placesMap">
    	<div class="row">
	    	
			<div id="googleMap">
	    	</div>
    	</div>
    </script>	
    <div id="tooltip"></div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="myModalLabel">Удаление события</h3>
	  </div>
	  <div class="modal-body">
	    <p>Вы действительно хотите удалить запись об этом событии?</p>
	  </div>
	  <div class="modal-footer">
	    <button class="btn" data-dismiss="modal" aria-hidden="true">Отменить</button>
	    <button class="btn btn-primary">Подтвердить удаление</button>
	  </div>
	</div>
	<script data-main="app/scripts/require_main" src="app/scripts/vendor/requirejs/require.js"></script>
</body>
</html>